
<div class="hero-unit">
	<h1>Wellcome to OMRails</h1>
	<p>
		youve found my homepage website for
	  <%= link_to "one month rails", "http://www.onemonthrails.com"%> 
	    application
	</p>

	<%= link_to "sign up now", "#", class: "btn btn-primary btn-large"%>

</div>